## Recursive Function

In [3]:
def factorial(n):
    if(n==0):
        return 1
    else:
        return n*factorial(n-1)
factorial(5)

120

In [10]:
def fibo(n):
    if n<=1:
        return n
    else:
        return fibo(n-1)+fibo(n-2)
for i in range(10):
    print(fibo(i))

0
1
1
2
3
5
8
13
21
34

In [7]:
0,1,1,2,3,5,8

(1, 1, 2, 3, 5, 8)

## Decorative Function

In [11]:
def div(a,b):
    return a/b

In [13]:
def div1(a,b):
    if a<b:
        a,b=b,a
    return a/b

In [17]:
print(div(10,5)," ", div(5,10))

2.0   0.5

In [18]:
print(div1(10,5)," ", div1(5,10))

2.0   2.0

In [21]:
def og_div(a,b):
    c=a/b
    return c

In [24]:
def smart_div(func):
    def inner(a,b):
        if a<b:
            a,b=b,a
        return func(a,b)
    return (inner)

In [25]:
result=smart_div(og_div)

result(5,10)

In [26]:
result(5,10)

2.0

In [44]:
def wish(name):
     print("Hello ", name,", Good Morning")

In [52]:
def new_wish(func):
    def inner(name):
        if name=="Robert":
            print("Hello",name,", Bad Morning")
        else:
            func(name)
    return inner

In [53]:
w=new_wish(wish)
w("sanjana")
w("Robert")

Hello  sanjana , Good Morning
Hello Robert , Bad Morning

In [57]:
@new_wish
def wish(name):
     print("Hello ", name,", Good Morning")

In [64]:
new_wish("sanjana")

## Generator Function
### A generator function is yield keyword to a sequence of values one at a time instead of returning all at once

In [59]:
def count(n):
    i=1
    while i<=n:
        yield i
        i=i+1

In [60]:
count(10)

In [62]:
list(count(10))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [73]:
def fibonocci(n):
    i1=0
    i2=1
    while i1<n:
        yield i1
        i1,i2=i2,i1+i2
        print(i2)
list(fibonocci(10))

1
2
3
5
8
13
21

[0, 1, 1, 2, 3, 5, 8]

## List Comprehension

In [11]:
xyz=[1,2,3,4,5,6,7,8,9]
x = [i for i in xyz if i%2==0]
x

[2, 4, 6, 8]

In [2]:
list=["Python","SQL","Azure","Power BI"]

l=[x[0] for x in list]

print(l)

['P', 'S', 'A', 'P']

In [12]:
list=["python","sql","azure","power BI"]
l=[x[0].upper()+x[1:] for x in list]
print(l)

['Python', 'Sql', 'Azure', 'Power BI']

In [5]:
words = "the quick brown fox jumps over lazy dog"
w = [[s.upper(),len(s)] for s in words.split(" ")]

In [6]:
w

[['THE', 3],
 ['QUICK', 5],
 ['BROWN', 5],
 ['FOX', 3],
 ['JUMPS', 5],
 ['OVER', 4],
 ['LAZY', 4],
 ['DOG', 3]]

## Lambda  Function/ Anonymous Function

 #### Functions without name
 #### Consise code
 #### Syntax lambda variable : expression

In [7]:
def sq(i):
    return i*i

f=lambda i:i*i

In [10]:
print(sq(8) ,
f(7))

64 49

In [11]:
a = lambda a,b:a+b

In [12]:
a(5,6)

11

In [18]:
largest = lambda a,b:a if a>b else b
largest(8,3)

8

In [21]:
l=[1,2,4,6,7,8,9,3]
l1 = list(filter(lambda x:x%2==0,l))

In [22]:
l1

[2, 4, 6, 8]

In [24]:
l=[2,3,4,5,6,7,8]
def squareit(n):
    return n**2
sq = list(map(squareit,l))
print(sq)

[4, 9, 16, 25, 36, 49, 64]

In [25]:
sq = list(map(lambda i:i**2,l))

In [26]:
sq

[4, 9, 16, 25, 36, 49, 64]

In [10]:

words=["hello","world","lambda","exercise"]

s1=list(map(lambda word:word.upper(),words))

print(s1)

['HELLO', 'WORLD', 'LAMBDA', 'EXERCISE']

In [11]:
people = [{'name':'Alice',"age": 30},{'name':'Bob',"age": 25},{'name':'Charlie',"age": 35}]

In [12]:
people

[{'name': 'Alice', 'age': 30},
 {'name': 'Bob', 'age': 25},
 {'name': 'Charlie', 'age': 35}]

In [14]:
people[].[name]

SyntaxError: invalid syntax (3439203817.py, line 1)

In [15]:
sorted(people, key = lambda i:i["age"])

[{'name': 'Bob', 'age': 25},
 {'name': 'Alice', 'age': 30},
 {'name': 'Charlie', 'age': 35}]

## Class

#### Class is a blue print though which multiple objects can be created
#### Class has variables and methods/attribute/functions

In [26]:
class Computer:
    # variables
    
    # methods/attribute/functions
    def config(self):
        print("i5, 16Gb")

In [27]:
comp1=Computer()

In [28]:
comp1.config()

i5, 16Gb