# Python Day 1

### Python Fundamental Datatypes

In [1]:
s = "Welcome"
print(s)
print(type(s))

Welcome
<class 'str'>

In [2]:
a=10
type(a)

int

In [3]:
print(type(a))
print(a)

<class 'int'>
10

In [4]:
a=10.0
print(type(a))
print(a)

<class 'float'>
10.0

In [5]:
b=True
print(type(b))
print(not b)

<class 'bool'>
False

In [6]:
a=10
b=20
c=a>b
print(c)

False

In [7]:
print(True+True)

2

In [8]:
print(True-False)

1

In [9]:
c=10+20j
print(c)
print(type(c))

(10+20j)
<class 'complex'>

In [10]:
a=10
print(id(a))
b=10
print(id(a))

8885288
8885288

In [11]:
a=20
print(id(a))

8885608

In [12]:
s="Data engineering"
print(s[-2])
print(s[2])
print(s[0:4])

n
t
Data

In [13]:
alpha="abcdefghijklmnopqrstuvwxyz"
alpha[12:15]

'mno'

In [14]:
alpha[-3:]

'xyz'

In [15]:
alpha[:14]

'abcdefghijklmn'

In [16]:
alpha[3:100]

'defghijklmnopqrstuvwxyz'

In [17]:
alpha[::2]

'acegikmoqsuwy'

### Python Operators

#### Arithmetic Operator

In [18]:
a=10
b=20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(3//2.0)
print(a%b)
print(a**2)

30
-10
200
0.5
0
1.0
10
100

#### Relational Operator

In [19]:
print(a<b)
print (a>=b)

True
False

#### Logical Operator

In [20]:
a=True
b=False
print(a and b)
print(a or b)
print(a and not b)

False
True
True

In [21]:
is_geological_survey_complete = True
is_environmental_clearance_received = True
is_market_demand_high = False

In [22]:
should_start_drilling = is_geological_survey_complete and is_environmental_clearance_received and is_market_demand_high

In [23]:
print("Should we start drilling?",should_start_drilling)

Should we start drilling? False

In [24]:

HasExplorationPermit = True
HasDrillingRights = True
HasEnvironmentalApproval = False
HasOilDiscovery = True

IsExplorationAllowed = HasExplorationPermit and HasDrillingRights and not HasEnvironmentalApproval
IsDiscoveryProfitable = HasOilDiscovery and (HasExplorationPermit or HasDrillingRights)

In [25]:
print("Is exploration allowed?",IsExplorationAllowed)
print("Is the discovery profitable?",IsDiscoveryProfitable)

Is exploration allowed? True
Is the discovery profitable? True

In [26]:
print(10+20)
print("10"+"20")
#"10"+20 (not allowed )
print(10*3)
#"10"*"3"(not allowed)
print("10"*3)

30
1020
30
101010

#### Membership Operator

In [27]:
s="Python"
print("Py" in s)

# List of Equipment
refineryEquipment = ["Crude Distillation Unit", "Catalytic Cracking Unit", "Hydrotreating Unit", "FCC Unit"]

 

# Membership Operator
IsUnitInstalled = "Hydrotreating Unit" in refineryEquipment
IsUnitObsolete = "Thermal Cracking Unit" not in refineryEquipment

 

print("Is Hydrotreating Unit installed?", IsUnitInstalled)
print("Is Thermal Cracking Unit obsolete?", IsUnitObsolete)

True
Is Hydrotreating Unit installed? True
Is Thermal Cracking Unit obsolete? True

#### String Formating

In [28]:
name = "sanjana"
working = "Data Engineer"
hours = 8
print("I am %s working as %s for %d hours a day" %(name,working,hours)) # old format
print("I am {} working as {} for {} hours a day".format(name,working,hours)) 
print(f"I am {name} working as {working} for {hours} hours a day") # mostly used

I am sanjana working as Data Engineer for 8 hours a day
I am sanjana working as Data Engineer for 8 hours a day
I am sanjana working as Data Engineer for 8 hours a day

In [29]:
# Employee details

name = "John Doe"

job_title = "Senior Geologist"

department = "Geology"

email = "johndoe@email.com"

phone = "123-456-7890"

In [30]:
print(f"Employee Information: \n Name: {name}\n Job title: {job_title} \n Department: {department} \n Contact: \n\tEmail: {email} \n\tPhone: {phone}")

Employee Information:
 Name: John Doe
 Job title: Senior Geologist
 Department: Geology
 Contact:
	Email: johndoe@email.com
	Phone: 123-456-7890

### Data Structures

#### List

In [31]:
a=[10,"python",True,10,19.5]
print(a)
print(type(a))
print(a[-1])
print(a[:3])

[10, 'python', True, 10, 19.5]
<class 'list'>
19.5
[10, 'python', True]

In [32]:
id(a)

140247052621696

In [33]:
a.append(999)
print(a)

[10, 'python', True, 10, 19.5, 999]

In [34]:
id(a)

140247052621696

In [35]:
a.remove(10)
print(a)

['python', True, 10, 19.5, 999]

In [36]:
id(a)

140247052621696

#### Tuple

In [37]:
t = ("Well A","2023-09-15","pipeline",True,100,100)

In [38]:
t[2]

'pipeline'

In [39]:
t.append(22) #cannot add or remove elements from tuple

AttributeError: 'tuple' object has no attribute 'append'

#### Set

In [40]:
c={True,10.5,"Shell",True,10,10,10,"Python"}
print(c)

{True, 'Python', 10.5, 'Shell', 10}

In [41]:
print(id(c))
c.add(55)
print(c)
print(id(c))

140246992001664
{True, 'Python', 10.5, 'Shell', 55, 10}
140246992001664

#### Dictionary

In [42]:
d={"Location":"Well A","Start date":"2023-1-1","Duration":45,"End":True}
print(d)

{'Location': 'Well A', 'Start date': '2023-1-1', 'Duration': 45, 'End': True}

In [43]:
d["Location"]="Well B"
print(d)

{'Location': 'Well B', 'Start date': '2023-1-1', 'Duration': 45, 'End': True}

In [44]:
d["End date"]="2023-1-1"
print(d)

{'Location': 'Well B', 'Start date': '2023-1-1', 'Duration': 45, 'End': True, 'End date': '2023-1-1'}

### Excerise

In [45]:
employees = [

    "John Doe, Senior Geologist, Geology, johndoe@email.com, 123-456-7890",

    "Jane Smith, Drilling Engineer, Drilling, janesmith@email.com, 987-654-3210",

    "Bob Johnson, Reservoir Engineer, Reservoir Engineering, bobjohnson@email.com, 456-789-0123",

    "Alice Brown, Petrophysicist, Petrophysics, alicebrown@email.com, 789-012-3456"

]

In [46]:
# a. Access and print the details of the first employee in the list.
print(employees[0])

John Doe, Senior Geologist, Geology, johndoe@email.com, 123-456-7890

In [47]:
#b. Add a new employee to the end of the list.
#new_employee = "Eva Green, Drilling Technician, Drilling, evagreen@email.com, 111-222-3333"
employees.append("Eva Green, Drilling Technician, Drilling, evagreen@email.com, 111-222-3333")
print(employees)

['John Doe, Senior Geologist, Geology, johndoe@email.com, 123-456-7890', 'Jane Smith, Drilling Engineer, Drilling, janesmith@email.com, 987-654-3210', 'Bob Johnson, Reservoir Engineer, Reservoir Engineering, bobjohnson@email.com, 456-789-0123', 'Alice Brown, Petrophysicist, Petrophysics, alicebrown@email.com, 789-012-3456', 'Eva Green, Drilling Technician, Drilling, evagreen@email.com, 111-222-3333']

### Flow control

#### Selection Statement

In [53]:
low_fuel_thresold = 1000
critical_fuel_thresold = 500
current_fuel_level= int(input("Enter current fuel level: "))

Enter current fuel level: 1100

In [54]:
if current_fuel_level<critical_fuel_thresold: 
    print("Critical Fuel Level Reached. Take Immediate Action")
elif current_fuel_level<low_fuel_thresold:
    print("Send fuel low alert")
else:
    print("Continue fueling")

Continue fueling

### Python Functions

 #### Range

In [55]:
for i in range(0,9):
    print(i)

0
1
2
3
4
5
6
7
8

In [56]:
for i in range(5,12):
    print(i)

5
6
7
8
9
10
11

In [61]:
for i in range(2,20,3):
    print(i)

2
5
8
11
14
17

#### Zip

In [63]:
l1=['a','b,','c']
l2=["sales","IT","Finance"]

In [64]:
z = zip(l1,l2)
print(z)

<zip object at 0x7f8db56084c0>

In [65]:
z = list(zip(l1,l2))
print(z)

[('a', 'sales'), ('b,', 'IT'), ('c', 'Finance')]

In [66]:
oil_gas_data = [
    ("Field A", "Texas", 500000),
    ("Field B", "Alaska", 800000),
    ("Field C", "North Sea", 300000),
    ("Field D", "Gulf of Mexico", 600000),
]
# use zip() to group the information of each oil and gas field together:

In [83]:
field_name, location,reserves = zip(*oil_gas_data)
print(field_name)
print(location)
print(reserves)

('Field A', 'Field B', 'Field C', 'Field D')
('Texas', 'Alaska', 'North Sea', 'Gulf of Mexico')
(500000, 800000, 300000, 600000)

#### Enumerate

In [72]:
e =  enumerate(location)
print(e)
print(list(e))

<enumerate object at 0x7f8dcfbedbc0>
[(0, 'Texas'), (1, 'Alaska'), (2, 'North Sea'), (3, 'Gulf of Mexico')]

In [73]:
f = list(enumerate(field_name))
print(f)

[(0, 'Field A'), (1, 'Field B'), (2, 'Field C'), (3, 'Field D')]

In [75]:
for index, field_data in enumerate(oil_gas_data):
    field_name, location, reserve = field_data
    print(f"Field {index+1}: {field_name} is located in {location} with reserves of {reserve} barrels.")

Field 1: Field A is located in Texas with reserves of 500000 barrels.
Field 2: Field B is located in Alaska with reserves of 800000 barrels.
Field 3: Field C is located in North Sea with reserves of 300000 barrels.
Field 4: Field D is located in Gulf of Mexico with reserves of 600000 barrels.

#### Counter

In [84]:
from collections import Counter
count_location=Counter(location)
count_location

Counter({'Texas': 1, 'Alaska': 1, 'North Sea': 1, 'Gulf of Mexico': 1})