In [1]:
import findspark

In [2]:
findspark.init()

In [3]:
from pyspark.sql import SparkSession

In [4]:
#create a spark session
spark=SparkSession.builder.appName("RDDexample").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/21 08:37:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/09/21 08:37:37 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [24]:
df=spark.createDataFrame([[1,2,3]])

In [25]:
df.show()

+---+---+---+
| _1| _2| _3|
+---+---+---+
|  1|  2|  3|
+---+---+---+

In [26]:
type(df)

pyspark.sql.dataframe.DataFrame

In [27]:
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row

df = spark.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
])
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [28]:
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  4|5.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [30]:
data =[
    (1, 2., 'string1', date(2000, 1, 1), datetime(2000, 1, 1, 12, 0)),
    (2, 3., 'string2', date(2000, 2, 1), datetime(2000, 1, 2, 12, 0)),
    (3, 4., 'string3', date(2000, 3, 1), datetime(2000, 1, 3, 12, 0))
]
schema='a long, b double, c string, d date, e timestamp'

In [31]:
 df = spark.createDataFrame(data,schema)

In [32]:
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [33]:
data2 = [(1,'a','z',77700,'India'),(2,'b','y',98997,'India')]

In [34]:
#schema as string
schema2 = "id int, fname string, lname string, ph int, country string"

In [40]:
#schema as int
schema3 = ['id','fname','lname','ph','country']

In [35]:
df3=spark.createDataFrame(data2,schema2)

In [36]:
df3

DataFrame[id: int, fname: string, lname: string, ph: int, country: string]

In [37]:
df3.show()

+---+-----+-----+-----+-------+
| id|fname|lname|   ph|country|
+---+-----+-----+-----+-------+
|  1|    a|    z|77700|  India|
|  2|    b|    y|98997|  India|
+---+-----+-----+-----+-------+

In [38]:
df3.dtypes

[('id', 'int'),
 ('fname', 'string'),
 ('lname', 'string'),
 ('ph', 'int'),
 ('country', 'string')]

In [41]:
df3=spark.createDataFrame(data2,schema3)
df3

DataFrame[id: bigint, fname: string, lname: string, ph: bigint, country: string]

In [43]:
df3.printSchema()

root
 |-- id: long (nullable = true)
 |-- fname: string (nullable = true)
 |-- lname: string (nullable = true)
 |-- ph: long (nullable = true)
 |-- country: string (nullable = true)

In [49]:
users=[{"id":1,
        "fname":'a',
        "amount":1000
       },
       {"id":2,
        "fname":'b',
        "amount":1500
       }
    ]

In [50]:
df4=spark.createDataFrame(users)

In [51]:
df4.show()

+------+-----+---+
|amount|fname| id|
+------+-----+---+
|  1000|    a|  1|
|  1500|    b|  2|
+------+-----+---+

In [98]:
df5=spark.read.csv("Dataset/employee.csv",header=True)
#df5=spark.read.option("header",True).csv("Dataset/employee.csv",header=True)

In [99]:
df5.show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|  8/6/1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|     Maria|Female| 4/23/1993|       11:17 AM|130590| 11.858|            false|             Finance|
|     Jerry|  Male|  3/4/2005|        1:00 PM|138705|   9.34|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|101004|  1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female| 8/17/1987|        4:20 PM| 65476| 10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM| 45906| 11.598|             null|             Finance|
|    Angela|Female|11/22/2005|        6:29 AM| 95570| 18.523|             true|         Engineering|
|   Frances|Female|  8/8/2002|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female| 8/12/1980|        9:01 AM| 63241| 15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male| 12/1/1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|  6/5/2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male| 12/7/1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [100]:
df5.printSchema()

root
 |-- First Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Start Date: string (nullable = true)
 |-- Last Login Time: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Bonus %: string (nullable = true)
 |-- Senior Management: string (nullable = true)
 |-- Team: string (nullable = true)

In [101]:
df5=spark.read.option("header",True).option("inferschema",True).csv("Dataset/employee.csv",header=True)

In [102]:
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [103]:
df5.printSchema()

root
 |-- First Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Start Date: string (nullable = true)
 |-- Last Login Time: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Bonus %: double (nullable = true)
 |-- Senior Management: boolean (nullable = true)
 |-- Team: string (nullable = true)

In [104]:
df5.select("First Name","Gender").show()

+----------+------+
|First Name|Gender|
+----------+------+
|   Douglas|  Male|
|    Thomas|  Male|
|     Maria|Female|
|     Jerry|  Male|
|     Larry|  Male|
|    Dennis|  Male|
|      Ruby|Female|
|      null|Female|
|    Angela|Female|
|   Frances|Female|
|    Louise|Female|
|     Julie|Female|
|   Brandon|  Male|
|      Gary|  Male|
|  Kimberly|Female|
|   Lillian|Female|
|    Jeremy|  Male|
|     Shawn|  Male|
|     Diana|Female|
|     Donna|Female|
+----------+------+
only showing top 20 rows

In [105]:
df.select("First Name".alias("fName"))

AttributeError: 'str' object has no attribute 'alias'

In [106]:
from pyspark.sql.functions import col

In [107]:
df5.select(col("First Name").alias("forename")).show()

+--------+
|forename|
+--------+
| Douglas|
|  Thomas|
|   Maria|
|   Jerry|
|   Larry|
|  Dennis|
|    Ruby|
|    null|
|  Angela|
| Frances|
|  Louise|
|   Julie|
| Brandon|
|    Gary|
|Kimberly|
| Lillian|
|  Jeremy|
|   Shawn|
|   Diana|
|   Donna|
+--------+
only showing top 20 rows

In [108]:
df5.select("First Name", col("Gender"),df5["Team"]).show()

+----------+------+--------------------+
|First Name|Gender|                Team|
+----------+------+--------------------+
|   Douglas|  Male|           Marketing|
|    Thomas|  Male|                null|
|     Maria|Female|             Finance|
|     Jerry|  Male|             Finance|
|     Larry|  Male|     Client Services|
|    Dennis|  Male|               Legal|
|      Ruby|Female|             Product|
|      null|Female|             Finance|
|    Angela|Female|         Engineering|
|   Frances|Female|Business Development|
|    Louise|Female|                null|
|     Julie|Female|               Legal|
|   Brandon|  Male|     Human Resources|
|      Gary|  Male|               Sales|
|  Kimberly|Female|             Finance|
|   Lillian|Female|             Product|
|    Jeremy|  Male|     Human Resources|
|     Shawn|  Male|             Product|
|     Diana|Female|     Client Services|
|     Donna|Female|             Product|
+----------+------+--------------------+
only showing top 20 rows

In [109]:
df5.withColumnRenamed('First Name', 'fName').show()

+--------+------+----------+---------------+------+-------+-----------------+--------------------+
|   fName|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+--------+------+----------+---------------+------+-------+-----------------+--------------------+
| Douglas|  Male|  8/6/1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|  Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|   Maria|Female| 4/23/1993|       11:17 AM|130590| 11.858|            false|             Finance|
|   Jerry|  Male|  3/4/2005|        1:00 PM|138705|   9.34|             true|             Finance|
|   Larry|  Male| 1/24/1998|        4:47 PM|101004|  1.389|             true|     Client Services|
|  Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|    Ruby|Female| 8/17/1987|        4:20 PM| 65476| 10.012|             true|             Product|
|    null|Female| 7/20/2015|       10:43 AM| 45906| 11.598|             null|             Finance|
|  Angela|Female|11/22/2005|        6:29 AM| 95570| 18.523|             true|         Engineering|
| Frances|Female|  8/8/2002|        6:51 AM|139852|  7.524|             true|Business Development|
|  Louise|Female| 8/12/1980|        9:01 AM| 63241| 15.132|             true|                null|
|   Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
| Brandon|  Male| 12/1/1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|    Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
| Lillian|Female|  6/5/2016|        6:09 AM| 59414|  1.256|            false|             Product|
|  Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|   Shawn|  Male| 12/7/1986|        7:45 PM|111737|  6.414|            false|             Product|
|   Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|   Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+--------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [110]:
from pyspark.sql.functions import *

df5.select(concat("Start Date","Last Login Time")).show()

+-----------------------------------+
|concat(Start Date, Last Login Time)|
+-----------------------------------+
|                   8/6/199312:42 PM|
|                   3/31/19966:53 AM|
|                  4/23/199311:17 AM|
|                    3/4/20051:00 PM|
|                   1/24/19984:47 PM|
|                   4/18/19871:35 AM|
|                   8/17/19874:20 PM|
|                  7/20/201510:43 AM|
|                  11/22/20056:29 AM|
|                    8/8/20026:51 AM|
|                   8/12/19809:01 AM|
|                  10/26/19973:19 PM|
|                   12/1/19801:08 AM|
|                  1/27/200811:40 PM|
|                   1/14/19997:13 AM|
|                    6/5/20166:09 AM|
|                   9/21/20105:56 AM|
|                   12/7/19867:45 PM|
|                 10/23/198110:27 AM|
|                   7/22/20103:48 AM|
+-----------------------------------+
only showing top 20 rows

In [111]:
df5.select(concat("Start Date",lit(" & "),"Last Login Time")).show()

+----------------------------------------+
|concat(Start Date,  & , Last Login Time)|
+----------------------------------------+
|                     8/6/1993 & 12:42 PM|
|                     3/31/1996 & 6:53 AM|
|                    4/23/1993 & 11:17 AM|
|                      3/4/2005 & 1:00 PM|
|                     1/24/1998 & 4:47 PM|
|                     4/18/1987 & 1:35 AM|
|                     8/17/1987 & 4:20 PM|
|                    7/20/2015 & 10:43 AM|
|                    11/22/2005 & 6:29 AM|
|                      8/8/2002 & 6:51 AM|
|                     8/12/1980 & 9:01 AM|
|                    10/26/1997 & 3:19 PM|
|                     12/1/1980 & 1:08 AM|
|                    1/27/2008 & 11:40 PM|
|                     1/14/1999 & 7:13 AM|
|                      6/5/2016 & 6:09 AM|
|                     9/21/2010 & 5:56 AM|
|                     12/7/1986 & 7:45 PM|
|                    10/23/1981 & 10:2...|
|                     7/22/2010 & 3:48 AM|
+----------------------------------------+
only showing top 20 rows

In [112]:
df5.select("*",concat("Start Date",lit(" & "),"Last Login Time").alias("Date & Time")).show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|         Date & Time|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+--------------------+
|   Douglas|  Male|  8/6/1993|       12:42 PM| 97308|  6.945|             true|           Marketing| 8/6/1993 & 12:42 PM|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null| 3/31/1996 & 6:53 AM|
|     Maria|Female| 4/23/1993|       11:17 AM|130590| 11.858|            false|             Finance|4/23/1993 & 11:17 AM|
|     Jerry|  Male|  3/4/2005|        1:00 PM|138705|   9.34|             true|             Finance|  3/4/2005 & 1:00 PM|
|     Larry|  Male| 1/24/1998|        4:47 PM|101004|  1.389|             true|     Client Services| 1/24/1998 & 4:47 PM|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal| 4/18/1987 & 1:35 AM|
|      Ruby|Female| 8/17/1987|        4:20 PM| 65476| 10.012|             true|             Product| 8/17/1987 & 4:20 PM|
|      null|Female| 7/20/2015|       10:43 AM| 45906| 11.598|             null|             Finance|7/20/2015 & 10:43 AM|
|    Angela|Female|11/22/2005|        6:29 AM| 95570| 18.523|             true|         Engineering|11/22/2005 & 6:29 AM|
|   Frances|Female|  8/8/2002|        6:51 AM|139852|  7.524|             true|Business Development|  8/8/2002 & 6:51 AM|
|    Louise|Female| 8/12/1980|        9:01 AM| 63241| 15.132|             true|                null| 8/12/1980 & 9:01 AM|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|10/26/1997 & 3:19 PM|
|   Brandon|  Male| 12/1/1980|        1:08 AM|112807| 17.492|             true|     Human Resources| 12/1/1980 & 1:08 AM|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|1/27/2008 & 11:40 PM|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance| 1/14/1999 & 7:13 AM|
|   Lillian|Female|  6/5/2016|        6:09 AM| 59414|  1.256|            false|             Product|  6/5/2016 & 6:09 AM|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources| 9/21/2010 & 5:56 AM|
|     Shawn|  Male| 12/7/1986|        7:45 PM|111737|  6.414|            false|             Product| 12/7/1986 & 7:45 PM|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|10/23/1981 & 10:2...|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product| 7/22/2010 & 3:48 AM|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+--------------------+
only showing top 20 rows

In [113]:
#Multiline code using back slash
df5.select("*",
           concat("Start Date",lit(" & "),
                  "Last Login Time").alias("Date & Time"))\
.show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|         Date & Time|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+--------------------+
|   Douglas|  Male|  8/6/1993|       12:42 PM| 97308|  6.945|             true|           Marketing| 8/6/1993 & 12:42 PM|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null| 3/31/1996 & 6:53 AM|
|     Maria|Female| 4/23/1993|       11:17 AM|130590| 11.858|            false|             Finance|4/23/1993 & 11:17 AM|
|     Jerry|  Male|  3/4/2005|        1:00 PM|138705|   9.34|             true|             Finance|  3/4/2005 & 1:00 PM|
|     Larry|  Male| 1/24/1998|        4:47 PM|101004|  1.389|             true|     Client Services| 1/24/1998 & 4:47 PM|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal| 4/18/1987 & 1:35 AM|
|      Ruby|Female| 8/17/1987|        4:20 PM| 65476| 10.012|             true|             Product| 8/17/1987 & 4:20 PM|
|      null|Female| 7/20/2015|       10:43 AM| 45906| 11.598|             null|             Finance|7/20/2015 & 10:43 AM|
|    Angela|Female|11/22/2005|        6:29 AM| 95570| 18.523|             true|         Engineering|11/22/2005 & 6:29 AM|
|   Frances|Female|  8/8/2002|        6:51 AM|139852|  7.524|             true|Business Development|  8/8/2002 & 6:51 AM|
|    Louise|Female| 8/12/1980|        9:01 AM| 63241| 15.132|             true|                null| 8/12/1980 & 9:01 AM|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|10/26/1997 & 3:19 PM|
|   Brandon|  Male| 12/1/1980|        1:08 AM|112807| 17.492|             true|     Human Resources| 12/1/1980 & 1:08 AM|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|1/27/2008 & 11:40 PM|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance| 1/14/1999 & 7:13 AM|
|   Lillian|Female|  6/5/2016|        6:09 AM| 59414|  1.256|            false|             Product|  6/5/2016 & 6:09 AM|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources| 9/21/2010 & 5:56 AM|
|     Shawn|  Male| 12/7/1986|        7:45 PM|111737|  6.414|            false|             Product| 12/7/1986 & 7:45 PM|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|10/23/1981 & 10:2...|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product| 7/22/2010 & 3:48 AM|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+--------------------+
only showing top 20 rows

In [114]:
df5=df5.select("*",concat("Start Date",lit(" & "),"Last Login Time").alias("Date & Time"))

In [115]:
dffinal=df5.drop("Start Date","Last Login Time")

In [116]:
dffinal.show()

+----------+------+------+-------+-----------------+--------------------+--------------------+
|First Name|Gender|Salary|Bonus %|Senior Management|                Team|         Date & Time|
+----------+------+------+-------+-----------------+--------------------+--------------------+
|   Douglas|  Male| 97308|  6.945|             true|           Marketing| 8/6/1993 & 12:42 PM|
|    Thomas|  Male| 61933|   4.17|             true|                null| 3/31/1996 & 6:53 AM|
|     Maria|Female|130590| 11.858|            false|             Finance|4/23/1993 & 11:17 AM|
|     Jerry|  Male|138705|   9.34|             true|             Finance|  3/4/2005 & 1:00 PM|
|     Larry|  Male|101004|  1.389|             true|     Client Services| 1/24/1998 & 4:47 PM|
|    Dennis|  Male|115163| 10.125|            false|               Legal| 4/18/1987 & 1:35 AM|
|      Ruby|Female| 65476| 10.012|             true|             Product| 8/17/1987 & 4:20 PM|
|      null|Female| 45906| 11.598|             null|             Finance|7/20/2015 & 10:43 AM|
|    Angela|Female| 95570| 18.523|             true|         Engineering|11/22/2005 & 6:29 AM|
|   Frances|Female|139852|  7.524|             true|Business Development|  8/8/2002 & 6:51 AM|
|    Louise|Female| 63241| 15.132|             true|                null| 8/12/1980 & 9:01 AM|
|     Julie|Female|102508| 12.637|             true|               Legal|10/26/1997 & 3:19 PM|
|   Brandon|  Male|112807| 17.492|             true|     Human Resources| 12/1/1980 & 1:08 AM|
|      Gary|  Male|109831|  5.831|            false|               Sales|1/27/2008 & 11:40 PM|
|  Kimberly|Female| 41426| 14.543|             true|             Finance| 1/14/1999 & 7:13 AM|
|   Lillian|Female| 59414|  1.256|            false|             Product|  6/5/2016 & 6:09 AM|
|    Jeremy|  Male| 90370|  7.369|            false|     Human Resources| 9/21/2010 & 5:56 AM|
|     Shawn|  Male|111737|  6.414|            false|             Product| 12/7/1986 & 7:45 PM|
|     Diana|Female|132940| 19.082|            false|     Client Services|10/23/1981 & 10:2...|
|     Donna|Female| 81014|  1.894|            false|             Product| 7/22/2010 & 3:48 AM|
+----------+------+------+-------+-----------------+--------------------+--------------------+
only showing top 20 rows

In [117]:
dffinal.write.csv("Dataset/PySparkDataFrameSave.csv")

In [118]:
dffinal.write.parquet("Dataset/PySparkDataFrameSave")